<div>
    <div class="info-box">
        <span>Upload new tracks</span>
        <div class="border-class upload-file">
            <label class="upload-overlay" for="{{name + 'upload'}}"></label>
            <input id="{{name + 'upload'}}"
                   type="file"
                   accept="audio/*"
                   multiple
                   (change)="onFileUpload($event)" /><br/>
        </div>
    </div>

    <div class="track-list row">
        <table *ngIf="trackList?.length" class="u-full-width">
            <thead>
            <tr class="row table-row">
                <th class="ten columns">Track Name</th>
                <th class="two columns">Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr class="row table-row" *ngFor="let track of trackList; let i = index" [ngClass]="{'selected': track.selected}">
                <td class="ten columns">{{track.name}}</td>
                <td class="two columns">
                    <i class="fa fa-trash-o fa-lg" (click)="removeTrack(i)"></i>
                    <i *ngIf="track.selected" class="fa fa-pause fa-lg"></i>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <div class="info-box" *ngIf="!trackList?.length">
         <span>
             You don't have any track to listen. Please, upload at least one track :)
         </span>
    </div>
</div>
