<div>
    <img src="../../assets/images/compact-disc.svg">

    <div>
        <audio controls="controls"></audio>
    </div>
    <div class="row">
        <div class="two columns ">
            <div class="border-class">
                <i class="fa fa-step-backward fa-lg"></i>
            </div>
        </div>
        <div class="two columns ">
            <div class="border-class">
                <i class="fa fa-fast-backward fa-lg"></i>
            </div>

        </div>
        <div class="four columns ">
            <div class="border-class">
                <i class="fa fa-play fa-lg"></i>
            </div>
        </div>
        <div class="two columns ">
            <div class="border-class">
                <i class="fa fa-fast-forward fa-lg"></i>
            </div>
        </div>
        <div class="two columns ">
            <div class="border-class">
                <i class="fa fa-step-forward fa-lg"></i>
            </div>
        </div>
    </div>

</div>
