
<div class="section">
    <div class="logo-section">
        <img class="logo-img" src="./../../assets/images/dj-music-player.svg">
        <strong class="logo-text">Create your best tracks is easy now!</strong>
    </div>

    <div class="container">
        <div class="row">
            <div class="six columns">
                <track-list [trackList]="firstTrackList"
                            (onLoad)="putFirstTrackList($event)"
                            [name]="'first'"></track-list>
            </div>
            <div class="six columns">
                <track-list [trackList]="secondTrackList"
                            (onLoad)="putSecondTrackList($event)"
                            [name]="'second'"></track-list>
            </div>
        </div>
        <div class="row">
            <button class="button switch-btn"
               [disabled]="!(this.firstTrackList.length || this.secondTrackList.length)"
               routerLink="/dj-controller"
               routerLinkActive="active">DJ Player</button>
        </div>
    </div>
</div>
