
<div class="section">
    <div class="">
        <img class="logo-img" src="./../../assets/images/dj-music-player.svg">
        <strong class="logo-text">Create your best tracks is easy now!</strong>
    </div>

    <div class="container">
        <div class="row">
            <div class="six columns">
                <track-list></track-list>
            </div>
            <div class="six columns">
                <track-list></track-list>
            </div>
        </div>
        <div class="row">
            <a class="button" routerLink="/dj-controller" routerLinkActive="active">DJ Player</a>
        </div>
    </div>
</div>
