<div class="section dj-ctrl-section">
    <div class="container">
        <div class="row">
            <div class="six columns">
               <track-player [trackList]="firstTrackList"
               (onCurrentTrackChange)="setFirstSelectedTrack($event)"></track-player>
            </div>
            <div class="six columns">
                <track-player [trackList]="secondTrackList"
                              (onCurrentTrackChange)="setSecondSelectedTrack($event)"></track-player>
            </div>
        </div>
    </div>

    <a class="button button-primary"
       routerLink="/upload"
       routerLinkActive="active">Track Menu Bar</a>
</div>